/*************************/
/*****GENERAL STYLING*****/
/*************************/

* {
    margin: 0;
    padding: 0;
    display: border-box;
}
a:link{
    text-decoration: none;
}
ul li a:hover {
    text-decoration: underline;
}
body {
    background-image: url(../img/distantRunnerLight.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    

}
.side{
    width: 30%;
    margin: 20px;
    background-color: tomato;
    height: 200px;
    padding: 10px 10px;
    border: black solid 2px;
    border-radius: 20px;
}
.main{
    width: 50%;
    margin: 20px;
    padding: 10px;
    background-color: violet;
    border: 2px black solid;
    border-radius: 20px;
}
#footerContainer{
    background-color: lightskyblue;
}
/*************************/
/*********NAVBAR**********/
/*************************/

header{
    flex-direction: row;
    display: inline-block;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    width: 90%;
    height: 60px;
}
nav ul li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: sienna;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*************************/
/*******IMG STYLING*******/
/*************************/

#topLeftLogo {
    position: relative;
    left: 80px;
    width: 10%;
    height: 100px;
    border-radius: 5px;
    border: black solid 2px;
}
#redNikes {
    width: 50%;
    height: 150px;
    border-radius: 5px;
    border: black solid 2px;
}
.button {
    position: relative;
    font-family: fantasy;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    right: 30px;
    width: 80px;
    background-color: violet;
}

/*************************/
/*******FORM STYLING******/
/*************************/

#formContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    margin: 40px;
    border-radius: 40px;
    border: black solid 2px;
    width: 70%;
}
#formContainer label {
    font-size: 20px;
}

/*************************/
/******MEDIA QUERIES******/
/*************************/

@media only screen and (max-width: 700px) {
    nav ul {
        position: relative;
        left: -40px;
    }
    nav ul li {
        font-size: 15px;
        padding: 20px 12px;
    }
    #topLeftLogo {
        position: relative;
        left: -30px;
        width: 15%;
        height: 80px;
    }
    #redNikes {
        width: 90%;
        height: 120px;
        border-radius: 5px;
        border: black solid 2px;
    }

}



